<h1>Uber Hold'em</h1>
<p>Texas Hold'em With An UberChat Flare</p>
<ul>
	<li>Online: <%= sails.online %></li>
	<li>Games: 5</li>
</ul>
<nav class="main-nav">
	<ul>
		<li><a href="#new">New Game</a></li>
		<li><a href="#join">Join Game</a></li>
		<li><a href="#spectate">Spectate</a></li>
		<li><a href="#options">Options</a></li>
		<li><a href="#help">Help</a></li>
	</ul>
</nav>